extend ./layout.pug
block contenido 
 div
   div(class="imginco")
    img(class="img-inco" src="../public/resources/piku-incomodo.png", alt="piku incomodo")
   div(class="Ojo")
    form(class="ya-regis")
     div
       h1(class="corrnum-titu") Correo o número de teléfono ya registrado 
       p(class="inten-nue") #[b Intenta de nuevo con otro correo o número de teléfono]
       a(href="/" class="volver-ini") Volver al inicio 