extend ./layout.pug
block contenido
  
  body
    video(src="../public/resources/difuminado.mp4", alt="gif degradado", loop autoplay  )
  div(class="Ojo")  
   from(class="HAHAHA0")
    h1(id="h1" class="inicio") #[big ¡Bienvenido a piku!]
    div(class="imggg")
     img(class="img" src="../public/resources/Logo_piku.png", alt="Logo de piku")
    div(class="Ojo")
      div 
      button(class="button1")
        a(href="/login_al") Soy Alumno 
      button(class="button2")
        a(href="/login_mt") Soy Maestro 