extend ./layout.pug
block contenido
    h1(id="h1" class="inicio") #[big  Bienvenido a Piku]
    img(src="https://pm1.narvii.com/6942/73a9ea2b0f12115cd4b02039d3ee43d470f46ar1-1024-882v2_hq.jpg", alt="Diego malo estuvo aqui")
    div 
        a(href="/login_al") Soy Alumno 
    div 
        a(href="/login_ma") Soy Maestro 