extend ./layout.pug
block contenido
  h1(id="h1" class="inicio") #[big Bienvenido a piku]
  img(src="../css/resources/piku_logo.png", alt="Logo Piku")
  div(class="text") 
    button(class="button")
      a(href="/login_al") Soy Alumno 
    button(class="button")
      a(href="/login_mt") Soy Maestro 