extend ./layout.pug
block contenido
  h1(id="h1" class="inicio") #[big Bienvenido a piku]
  div
     img(class="img" src="../public/resources/logo_piku.png", alt="Logo de piku")
  div(class="text") 
    button(class="button1")
      a(href="/login_al") Soy Alumno 
    button(class="button2")
      a(href="/login_mt") Soy Maestro 