extend ./layout.pug
block contenido
    h1(class="inicio_mt") Iniciar Sesion 
    div(class="Ojo2")
        h3(class="titulo_login_mt") Maestro
    div(class="flex-container")
       div(class="imgg")
         img(class="img-login-al" src="../public/resources/Logo_piku.png", alt="Logo de piku")
       div(class="Ojo")
         form(action="/user_mt",method="POST" class="HAHAHA")
          div(class="corr_num")
            label(for="email") Correo: 
            input(type="email", name="email", placeholder="Correo", id="email", required)
        
          div(class="contrase침a") 
            label(for="password") Contrase침a: 
            input(type="password", minlength="8", name="password", placeholder="Contrase침a", id="password", required)

          div(class="in-sesi")  
            input(type="submit", value="Iniciar Sesi칩n")

          div(class="crear-c") 
              a(href="/signup_mt") Crear una cuenta 
          div(class="volver-i")  
              a(href="/") Volver al inicio 