extend ./layout.pug
block contenido 
    h1(class="inicio_al") Iniciar Sesión 
    div
        h3(class="titulo_login_al") Alumno
    div
        img(class="img-login-al" src="../public/resources/logo_piku.png", alt="Logo de piku")
    form(action="/user_al",method="POST" class="HAHAHA")
        div(class="corr_num")
            label(for="email") Correo o Número de Teléfono:       
            input(type="text", name="email", placeholder="Correo o Numero de Teléfono", id="email", required)
        div(class="in-sesi") 
            input(type="submit", value="Iniciar Sesión")

        div(class="crear-c")
            a(href="/signup_al") Crear una cuenta 
        div(class="volver-i") 
            a(href="/") Volver al inicio