extend ./layout.pug
block contenido 
    h1 Iniciar Sesión 
    div
        h3 Alumno
    form(action="/user_al",method="POST")
        div
            label(for="email") Correo o Número de Teléfono:
            input(type="text", name="email", placeholder="Correo o Numero de Teléfono", id="email", required)
        div 
            input(type="submit", value="Iniciar Sesión")

        div 
            a(href="/signup_al") Crear una cuenta 
        div 
            a(href="/") Volver al inicio