extend ./layout.pug 
block contenido
    div(img-new-user)
        img(class="img-new-user-mt" src="../public/resources/icono-piku.png", alt="Piku feliz")
    h1(class="maes-crea-co") Alumno creado correctamente
    h3(class="inicia-sesion") Inicia sesión, porfavor. 
    div(class="ini-sesion-pofis") 
        a(href="/login_al") Iniciar Sesión 
    div(class="volver-inicio")  
        a(href="/") Volver al menú   