extend ./layout.pug 
block contenido
    div(img-new-user)
        img(class="img-new-user-mt" src="../public/resources/icono-piku.png", alt="Piku feliz")
    h1(class="maes-crea-co") Maestro creado correctamente
    h3(class="inicia-sesion") Inicia sesion, porfavor 
    div(class="ini-sesion-pofis")
        a(href="/login_mt") Iniciar Sesión 
    div(class="volver-inicio") 
        a(href="/") Volver al inicio  