extend ./layout.pug 
block contenido
    h1 Alumno creado correctamente
    h3 Inicia sesion, porfavor 
    div 
        a(href="/login_al") Iniciar Sesion 
    div 
        a(href="/") Volver al menu   