extend ./layout.pug
block contenido 
    h1(class="crea-cuen") Crear Cuenta
    div(class="Ojo2")
        h3(class="titu-signup") Alumno
    div(class="flex-container2")
     div(class="imgg")
       img(class="img-signup" src="../public/resources/logo_piku.png", alt="Logo de piku")
     div(class="Ojo")
       form(action="/new_user",method="POST", id="formulario", class="HAHAHA3")
            div(class="nombre-signup", id="name")
                label(for="name") Nombre:
                input(type="text", name="name", placeholder="Nombre", id="name", required, class="formulario-input") 

            div(class="apelli-signup")
                label(for="lastname") Apellido:
                input(type="text", name="lastname", placeholder="Apellido", id="lastname", required)

            div(class="corr-num-signup" id="email")
                label(for="email")  Correo:
                input(type="email", name="email", placeholder="Correo", id="email", required)

            div(class="fecha-naci-signup")
                label(for="birthday") Fecha de Nacimiento: 
                input(type="date", name="birthday", placeholder="Fecha de Nacimiento ", id="birthday", required)

            div 
                input(type="submit", value="Crear Cuenta")

            div(class="tengo-cuent")
                a(href="/login_al") Ya tengo Cuenta
            div(class="volver-i-signup")
                a(href="/") Volver al inicio 