extend ./layout.pug
block contenido  
    h1(class="crea-cuen") Crear Cuenta 
    div(class="Ojo2")
        h3(class="titu-signup") Maestro
    div(class="flex-container2")
     div(class="imgg")
       img(class="img-signup" src="../public/resources/Logo_piku.png", alt="Logo de piku")
     div(class="Ojo")
       form(action="/new_user",method="POST" class="HAHAHA2")
        div(class="nombre-signup")
            label(for="name") Nombre: 
            input(type="text", name="name", placeholder="Nombre", id="name", required) 

        div(class="apelli-signup")
            label(for="lastname") Apellido: 
            input(type="text", name="lastname", placeholder="Apellido", id="lastname", required)

        div(class="corr-num-signup")
            label(for="email") Correo:
            input(type="email", name="email", placeholder="Correo", id="email", required)

        div(class="contraseña-signup")
            label(for="password") Contraseña: 
            input(type="password", name="password", placeholder="Contraseña", id="password", required)

        div(class="contraseña-confir-signup")
            label(for="password_c") Confirmar contraseña: 
            input(type="password", name="password_c", placeholder="Confirmar contraseña", id="password_c", required)

        div(class="fecha-naci-signup")
            label(for="birthday") Fecha de Nacimiento:  
            input(type="date", name="birthday", placeholder="Fecha de Nacimiento ", id="birthday", required)

        div 
            input(type="submit", value="Crear cuenta")

        div(class="tengo-cuent")
            a(href="/login_al") Ya tengo cuenta
        div(class="volver-i-signup")
            a(href="/") Volver al inicio 