extend ./layout.pug 
block contenido 
    img(class="img-piku-inco" src="../public/resources/piku-incomodo.png", alt="piku incomodo")
    h1(class="usua-no-encon") Usuario no encontrado 
    p(class="verifica") Verifica que el correo sea correcto o crea una cuenta 
    a(href="/" class="volver-ini-a") Volver al inicio 