extend ./layout.pug 
block contenido 
    div(class="imginco")
      img(class="img-inco" src="../public/resources/piku-incomodo.png", alt="piku incomodo")
    div
    h1(class="ups") Ups!!!! 
    h3(class="contra-inco") La contraseña es incorrecta
    div(class="Ojo")
      div(class="intenta-de-nu") 
          a(href="/login_mt") Intentar de nuevo 
      div(class="volver-ini-wrong-pass")
          a(href="/") Volver al inicio 