extend ./layout.pug 
block contenido 
    h1 Ups!!!! 
    h3 Las contraseñas ingresadas no coinsiden 
    div 
        a(href="/signin_mt") Intentar de nuevo 
    div
        a(href="/") Volver al inicio 