/* CSS de index.pug */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration:none;
}
.inicio{
    text-align: center;
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
    color: #E67A86;
    line-height: 200px;
    font-size: 50px;
}


.text{
    text-align: center;
}
  .button1{
    margin: 50px 50px; 
    padding: 25px 25px 25px 25px;
    padding-top: 10px;
    width: 130px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    border:0px solid ;
    font-weight: bold;
    color:#D079FC ;
    border-radius: 10%;
} 

   .button2{
    margin: 50px 50px; 
    padding: 25px 25px 25px 25px;
    padding-top: 10px;
    width: 130px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    border:0px solid ;
    font-weight: bold;
    color:#D079FC ;
    border-radius: 10%;
} 


.img{
    width: 300px;
    height: 300px;
    display:block;
    margin:auto;
    padding: 8px 1px 10px 10px;
    border-radius: 10%;
    
 }

 body{
     background-color: #ECECEC;
 }


a{
    text-decoration: none;
}

/* CSS de index_al */
header{
    background-image: linear-gradient(to right,#F2D474,#FCAE79,#E67A86);
    width: 100%;
    height: 80px;
	padding: 0px;
	text-decoration: none;
	font-size: 15px;
}

.button_S{
    margin-right: 323px;
}
.Crear_Clase{
    margin-right: 323px;
}
.button_M_U{
    margin-right: 0px;
}
.button_Mi{
    margin-right: 322px;
   }
.block{
    width: 240px;
    height: 340px;
    margin-left: 1125px;
    margin-right: 0;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-image: linear-gradient(to right,#FCAE79,#E67A86); 

}

.block2{
    text-align: center;
    width: 540px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: whitesmoke; 
    border-radius: 50px;
    border-style: hidden;
}

/* login_al.pug y algunas de login_mt.pug */

 .inicio_al, .inicio_mt{
    text-align:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    font-size: 30px;
    color:#E67A86 ;
    margin: 50px 0 20px 50px;
 }

.titulo_login_al, .titulo_login_mt{
    color: #D079FC;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    float: right;
    margin-right: 350px;
 }

 div.corr_num {
     color: #AEB8F2;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-bottom: 20px;
     font-size: 20px;
 } 
 /* Fondo blanquito */
.HAHAHA{
    text-align: center;
    width: 540px;
    height: 340px;
    float: right;
    margin-right: 200px;
    padding: 70px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: whitesmoke; 
    border-radius: 50px;
    border-style: hidden;
}

        /* Bonones */

  div.in-sesi:focus,input,input[type=submit]:focus{
    color: #7195b8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 15px;
    font-size: 18px;
    box-shadow:01px 20px rgb(85, 132, 179)inset,;
    outline: 0 none;

 } 

  div.crear-c{
        text-align: center;
        width: 150px;
        height: 60px;
        box-sizing:content-box;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
        border: 5px solid #333;
        background-color: #F2D474; 
        border-radius: 50px;
        border-style: hidden;
        display: inline-block;
        color: azure;
        margin-right: 20px;
 }  

  div.volver-i{
    text-align: center;
    width: 150px;
    height: 60px;
    box-sizing:content-box;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: #F2D474; 
    border-radius: 50px;
    border-style: hidden;
    display: inline-block;
    color: azure;
 } 
/* Tambien esta en login.mt.pug */
  .img-login-al{
    width: 450px;
    height: 450px; 
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    clip-path: circle();
  }

 /* login.mt.pug */
  div.contraseña{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
 }  
 
 /* signup_mt.pub */

 .img-signup{
    width: 450px;
    height: 450px; 
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    clip-path: circle();
  }
  
  h1.crea-cuen{
    text-align:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    font-size: 30px;
    color:#E67A86 ;
    margin: 50px 0 20px 50px;
  }

  h3.titu-signup{
    color: #D079FC;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    float: right;
    margin-right: 350px;
  }

  div.nombre-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.apelli-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.corr-num-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.contraseña-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.contraseña-confir-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.fecha-naci-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }
  div.volver-i-signup{
    text-align: center;
    width: 150px;
    height: 60px;
    box-sizing:content-box;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: #F2D474; 
    border-radius: 50px;
    border-style: hidden;
    display: inline-block;
    color: azure;
  }

  div.tengo-cuent{
    text-align: center;
    width: 150px;
    height: 60px;
    box-sizing:content-box;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: #F2D474; 
    border-radius: 50px;
    border-style: hidden;
    display: inline-block;
    color: azure;
    margin-right: 20px;
  }

  .HAHAHA2{
    text-align: center;
    width: 540px;
    height: 570px;
    float: right;
    margin-right: 200px;
    margin-bottom: 50px;
    padding: 70px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: whitesmoke; 
    border-radius: 50px;
    border-style: hidden;
}
/* signup_al.pug */
.HAHAHA3{
    text-align: center;
    width: 540px;
    height: 460px;
    float: right;
    margin-right: 200px;
    margin-bottom: 50px;
    padding: 70px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: whitesmoke; 
    border-radius: 50px;
    border-style: hidden;
}