/* CSS de index.pug */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration:none;
}
.inicio{
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
    color: #E67A86;
    font-size: 60px;
    margin-top:10px ;
}



  .button1{
    margin: 30px 30px; 
    padding: 25px 25px 25px 25px;
    padding-top: 5px;
    width: 130px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    border:0px solid ;
    font-weight: bold;
    color:#D079FC ;
    border-radius: 10%;
    background: #F2D474;
    margin-left: 50px;
} 

.button2{
    margin: 30px 30px; 
    padding: 25px 25px 25px 25px;
    padding-top: 5px;
    width: 130px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    border:0px solid ;
    font-weight: bold;
    color:#D079FC ;
    border-radius: 10%;
    background: #F2D474;
} 

.imggg{
  /* display: flex; */
  justify-content: center;
  align-items: center;
} 

.img{
    width: 380px;
    height: 380px;
    /* display: flex;  */
    /* padding: 45px 1px 0px 10px;  */
    border-radius: 40%;
    margin-top: 5px;  
}

.Ojo{
  justify-content: center;
  align-items: center;
}

a{
text-decoration: none;
}

.HAHAHA0{
    text-align: center;
    width: 780px;
    height: 590px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #333;
    background-color: whitesmoke; 
    border-radius: 50px;
    border-style: hidden;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

video{
position: fixed;
min-width: 100%;
min-height: 100%;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
z-index: -1;
} 

/* login_al.pug y algunas de login_mt.pug */

.inicio_al, .inicio_mt{
    text-align:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    font-size: 30px;
    color:#E67A86 ;
    margin: 50px 0 20px 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.titulo_login_al, .titulo_login_mt{
    color: #D079FC;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    float: inline-end;
}

div.corr_num {
  color: #AEB8F2;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
} 
 /* Fondo blanquito */
.HAHAHA{
    text-align: center;
    width: 540px;
    height: 340px;
    margin-left: 150px;
    float: right;
    padding: 70px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: whitesmoke; 
    border-radius: 50px;
    border-style: hidden;
}

        /* Bonones */

  div.in-sesi:focus,input,input[type=submit]:focus{
    color: #7195b8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 15px;
    font-size: 18px;
    box-shadow:01px 20px rgb(85, 132, 179)inset,;
    outline: 0 none;

} 

  div.crear-c{
        text-align: center;
        width: 170px;
        height: 60px;
        box-sizing:content-box;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
        border: 5px solid #333;
        background-color: #F2D474; 
        border-radius: 50px;
        border-style: hidden;
        display: inline-block;
        color: azure;
        margin-right: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  

  div.volver-i{
    text-align: center;
    width: 170px;
    height: 60px;
    box-sizing:content-box;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: #F2D474; 
    border-radius: 50px;
    border-style: hidden;
    display: inline-block;
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
/* Tambien esta en login.mt.pug */
  .img-login-al{
    width: 450px;
    height: 450px; 
    clip-path: circle();
    display: flex;
  }

 /* login.mt.pug */
  div.contraseña{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
}  

 /* signup_mt.pub */

.img-signup{
    width: 450px;
    height: 450px; 
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    clip-path: circle();
  }
  
  h1.crea-cuen{
    /* text-align:left; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color:#E67A86 ;
    margin: 50px 0 20px 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  h3.titu-signup{
    color: #D079FC;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  div.nombre-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.apelli-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.corr-num-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.contraseña-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.contraseña-confir-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.fecha-naci-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }
  div.volver-i-signup{
    text-align: center;
    width: 160px;
    height: 60px;
    box-sizing:content-box;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: #F2D474; 
    border-radius: 50px;
    border-style: hidden;
    display: inline-block;
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  div.tengo-cuent{
    text-align: center;
    width: 160px;
    height: 60px;
    box-sizing:content-box;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: #F2D474; 
    border-radius: 50px;
    border-style: hidden;
    display: inline-block;
    color: azure;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .HAHAHA2{
    text-align: center;
    width: 550px;
    height: 570px;
    margin-left: 150px;
    margin-bottom: 50px;
    padding: 50px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: whitesmoke; 
    border-radius: 50px;
    border-style: hidden;
}
/* signup_al.pug */
.flex-container2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.HAHAHA3{
    text-align: center;
    width: 600px;
    height: 460px;
    margin-bottom: 50px;
    margin-left: 150px;
    padding: 70px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: whitesmoke; 
    border-radius: 50px;
    border-style: hidden;
}

.img-ne-user{
  width: 400px;
  height: 400px;
  border-radius: 20%;
}

/* id_registered */
.corrnum-titu{
  font-size: 40px;
  color: #D079FC;
  padding-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inten-nue{
  font-size: 25px;
  color: #7195b8;
  padding-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.volver-ini{
  text-align: center;
  width: 150px;
  height: 60px;
  box-sizing:content-box;
  margin-top: 10px;
  padding: 20px;
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: #F2D474; 
  border-radius: 50px;
  border-style: hidden;
  display: inline-block;
  color:#6d4e3a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* index_al */
.container{
  width: 80%;
  max-width: 1000px;
 margin: 0 auto;
}
.header{
  background-color: #F2D474;
  color: #6d4e3a;
  display: flex;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header a{
  color: #6d4e3a;
  text-decoration: none;
}
.Lo-nav-con{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.naviga{
  display: flex;
}
.naviga,ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
}
.naviga,ul,li{
  display: inline-flex;
}
 .naviga,ul,li{
  display: inline-flex;
  padding: 0.2rem 1rem;
}

 .Pikulogo{
  width: 100px;
  height: 50px;
}
.button_S{
   background-color: #F2D474;
   border: none;
   display: inline-flex;
   justify-content: center;
   align-items: center;
}
.button_S:hover{
background: #e4b868;
transition: all 0.4s linear;
border-radius: 5px;
}
.Crear_Clase{
    margin-right: 323px;
}
.button_M_U{
    background-color: #F2D474;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.button_M_U:hover{
  background:#e4b868;
  transition: all 0.4s linear;
  border-radius: 5px;
}
.button_Mi{
    background-color: #F2D474;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.button_Mi:hover{
  background: #e4b868;
  transition: all 0.4s linear;
  border-radius: 5px;
}
.button_info{
  background-color: #e4b868;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.button_info:hover{
  background: #e4b868;
  transition: all 0.4s linear;
  border-radius: 5px;
}


.hola-bienve{
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
  color:#E67A86;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HAHAHA4{
  text-align: center;
  width: 540px;
  height: 320px;
  float: right;
  margin-top:20px;
  margin-bottom: 30px;
  padding: 50px;
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: whitesmoke; 
  border-radius: 50px;
  border-style: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unir-clas{
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 15px;
  color:#D079FC;
}

.cod-clas{
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #7195b8;
}

/* wrong_pass */
.imginco{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-inco{
  width: 400px;
  height: 400px;
}

.ya-regis{
  text-align: center;
  width: 1000px;
  height: 200px;
  background-color: none;
}

.ups{
  font-size: 38px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #D079FC;
  text-align: center;
} 

.contra-inco{
  font-size: 33px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #7195b8;
  text-align: center;
  margin-top: 5px;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Ojo{
  display: flex;
  justify-content: center;
  align-items: center;
}


.intenta-de-nu{
  align-items: center;
  text-align: center;
  width: 160px;
  height: 60px;
  box-sizing:content-box;
  margin-top: 20px;
  margin-right: 10px;
  padding: 18px; 
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: #F2D474; 
  border-radius: 50px;
  border-style: hidden;
  display: inline-block;
  color:#6d4e3a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.volver-ini-wrong-pass{
  text-align: center;
  width: 160px;
  height: 60px;
  box-sizing:content-box;
  margin-top: 20px;
  margin-left: 10px;
  padding: 18px; 
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: #F2D474; 
  border-radius: 50px;
  border-style: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* user_un */
.img-piku-inco{
  width: 400px;
  height: 400px;
  margin-left: 500px;
}

.usua-no-encon{
  font-size: 40px;
  padding-top: 5px;
  padding-left: 510px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #D079FC;
}

.verifica{
  font-size: 25px;
  padding-top: 5px;
  padding-left: 420px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#8994d3;
}

.volver-ini-a{
    text-align: center;
    width: 150px;
    height: 60px;
    box-sizing:content-box;
    margin-left: 630px;
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: #F2D474; 
    border-radius: 50px;
    border-style: hidden;
    display: inline-block;
    color:#6d4e3a;
}
/* clase/index */
.classname{
  padding-top: 50px;
}

/* new_user_mt y al */
.img-new-user{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-new-user-mt{
  width: 400px;
  height: 400px;
}
.maes-crea-co{
  font-size: 40px;
  color: #D079FC;
  padding-left: 440px;
  padding-top: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.inicia-sesion{
    font-size: 25px;
    color: #7195b8;
    padding-left: 580px;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ini-sesion-pofis{
  text-align: center;
        width: 170px;
        height: 60px;
        box-sizing:content-box;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
        border: 5px solid #333;
        background-color: #F2D474; 
        border-radius: 50px;
        border-style: hidden;
        display: inline-block;
        color: azure;
        margin-right: 20px;
        margin-left: 520px;
        margin-top: 9px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.volver-inicio{
  text-align: center;
  width: 170px;
  height: 60px;
  box-sizing:content-box;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: #F2D474; 
  border-radius: 50px;
  border-style: hidden;
  display: inline-block;
  color: azure;
  margin-top: 9px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* index_mt */
svg{
  display: flex;
  color:#6d4e3a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: right;
  cursor: pointer;
}


.HAHAHA5{
  text-align: center;
  width: 540px;
  height: 220px;
  float: right;
  margin-top:20px;
  margin-bottom: 30px;
  padding: 50px;
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: whitesmoke; 
  border-radius: 50px;
  border-style: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.HAHAHA6{
  text-align: center;
  width: 180px;
  height: 70px;
  float: right;
  margin-top:5px;
  margin-bottom: 30px;
  padding: 2px;
  box-sizing: border-box;
  border: 5px solid #333;
  background-color:#ffa0f2; 
  border-radius: 50px;
  border-style: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.crear-class{
  display: flex;
  justify-content: center;
  align-items: center;
}


.unirme-clas{
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #D079FC;
  margin-bottom: 15px;
}

.HAHAHA7{
  font-size: 1.2rem;
  text-align: center;
  width: 320px;
  height: 260px;
  float: right;
  background: whitesmoke; 
  border-radius: 50px;
  border-style: hidden;
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HAHAHA7 h2{
  font-size: 1.5rem;
  margin: 0;
  padding: 0 1rem;
  display: table-cell;
  position: absolute;
  top: 20%;
  left: 10%;
  -o-transform:translateY(-20%) ;
  -webkit-transform:translateY(-20%);
  -moz-transform:translateY(-20%) ;
  -ms-transform:translateY(-20%) ;
  transform:translateY(-20%) ;
  vertical-align: top;
  
}

.HAHAHA7 .codi-clas-chido{
  margin: 0;
  padding: 0 1rem;
  display: table-cell;
  position: absolute;
  top: 45%;
  left: 15%;
  -o-transform:translateY(-50%) ;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%) ;
  -ms-transform:translateY(-50%) ;
  transform:translateY(-50%) ;
  vertical-align: middle;
  text-align: right;
  color:#7195b8;
}

.HAHAHA7 .grado-unu{
  margin: 0;
  padding: 0 1rem;
  display: table-cell;
  position: absolute;
  top: 61%;
  left: 15%;
  -o-transform:translateY(-70%) ;
  -webkit-transform:translateY(-70%);
  -moz-transform:translateY(-70%) ;
  -ms-transform:translateY(-70%) ;
  transform:translateY(-70%) ;
  vertical-align: middle;
  color:#7195b8;
}



.HAHAHA7 .escuela-xd{
  margin: 0;
  padding: 0 1rem;
  display: table-cell;
  position: absolute;
  top: 77%;
  left: 15%;
  -o-transform:translateY(-90%) ;
  -webkit-transform:translateY(-90%);
  -moz-transform:translateY(-90%) ;
  -ms-transform:translateY(-90%) ;
  transform:translateY(-90%) ;
  vertical-align: middle;
  color:#7195b8;
}

.avatar-mt{
  float: right;
  width: 300px;
  height:300px ;
  padding-bottom: 60px;
}

/* nueva_clase */

.nueva-clase{
  font-size: 40px;
  padding-top: 80px;
  padding-left: 45px;
  color: rgb(90, 62, 47);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.HAHAHA8{
  margin: 0;
  padding: 0 1rem;
  display: table-cell;
  position:absolute;
  height: 320px;
  top: 40%;
  left: 5%;
  -o-transform:translateY(-30%) ;
  -webkit-transform:translateY(-30%);
  -moz-transform:translateY(-30%) ;
  -ms-transform:translateY(-30%) ;
  transform:translateY(-30%) ;
  vertical-align: middle;
  color:#a16238;
  background: whitesmoke; 
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 50px;
  border-style: hidden;
}

.clase{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  color:#57493c;
  padding-left: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.HAHAHA8 input{
  color: #957841;
}

.HAHAHA9{
  margin: 0;
  padding: 0 1rem;
  display: table-cell;
  position:absolute;
  top: 56%;
  left: 50%;
  width: 500px;
  height:650px ;
  -o-transform:translateY(-30%) ;
  -webkit-transform:translateY(-30%);
  -moz-transform:translateY(-30%) ;
  -ms-transform:translateY(-30%) ;
  transform:translateY(-30%) ;
  vertical-align: middle;
  color: #a16238;
  background: whitesmoke; 
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 50px;
  border-style: hidden;
  
}

.materias{
  font-size: 35px;
  color: #57493c;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-left: 140px;
}

.HAHAHA9 input {
  color: #d38929;
}

.crear-clase{
  background-color:#F2D474 ;
  border: #F2D474;
  width: 130px;
  height: 30px;
  border-radius: 50px;
  border-style: hidden;
}

.cancelar{
    text-align: center;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    box-sizing:content-box;
    width: 150px;
    box-sizing:content-box;
    margin-top: 5px;
    margin-left: 170px;
    padding: 18px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: #F2D474; 
    color: #d38929;
    border-radius: 50px;
    border-style: hidden;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.flex-containerr{
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  align-items: center;
}
.avatar1 {
  width:300px;
  height:300px ;

}

.avatar2 {
  width:300px;
  height:300px ;
  
}

.avatar3 {
  width:300px;
  height:300px ;
}

/* Para la separacion de los posts*/
.yellow{
  background-color: #eee;
}

.border{
  border: solid 1px #E67A86;
  margin-bottom: 5px;
}

.tr:nth-of-type(odd){
  background-color: #d38929;
}

.large-padding{
  padding: 10px 15px;
}

/* info.pug */

.valval {
  text-align: center;
  width: 940px;
  height: 620px;
  float: center;
  margin:20px 0 30px 200px;
  padding: 50px;
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: whitesmoke;
  color: #57493c; 
  border-radius: 50px;
  border-style: hidden;
  display: flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* myuser */

.block{
  text-align:  center;
  width: 440px;
  height: 440px;
  margin-left: 450px;
  margin-top: 80px;
  padding: 20px;
  box-sizing: border-box;
  color: #290c1d;
  background-color: #ffe07c;
  border: 5px solid #957841;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  border-radius: 50px;
}
.edit{
  color: #6d4e3a;
}

/* edit_user */

.edit-info{
  font-size: 50px;
  padding-left:30px;
  padding-top: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #1f0916;
}

.edit-xd{
  text-align:  center;
width: 440px;
height: 440px;
margin-left: 450px;
margin-top: 30px;
padding: 20px;
box-sizing: border-box;
color: #290c1d;
background-color: #ffe07c;
border: 5px solid #957841;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;
border-radius: 50px;
}

.inputla{
  color: #957841;
  background-color: #fae6a4;
}

/* subjet.pug */
.subject{
  font-size: 55px;
  color:#1f0916;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top:50px ;
  padding-left:20px ;
}

.publica{
  font-size: 40px;
  color:#333;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top:20px ;
  padding-left:20px ;
}

.nom-post{
  font-size: 30px;
  color:#57493c;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top:20px ;
  padding-left:20px ;
}

.conte-post {
  font-size: 20px;
  color:#a16238;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top:5px ;
  padding-left:20px ;
}

.editar{
  text-align: center;
  width: 70px;
  height: 40px;
  box-sizing:content-box;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: #F2D474; 
  border-radius: 50px;
  border-style: hidden;
  display: inline-block;
  color: azure;
  margin-top: 9px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left:20px ;
}

.crear-publi{
  text-align: center;
  width: 140px;
  height: 55px;
  box-sizing:content-box;
  margin: auto;
  padding: 8px;
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: #F2D474; 
  border-radius: 50px;
  border-style: hidden;
  display: inline-block;
  color: azure;
  margin-top: 9px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left:15px ;
}

.volver{
  text-align: center;
  width: 100px;
  height: 40px;
  box-sizing:content-box;
  margin: auto;
  padding: 8px;
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: #F2D474; 
  border-radius: 50px;
  border-style: hidden;
  display: inline-block;
  color: azure;
  margin-top: 9px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}