/* CSS de index.pug */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration:none;
}
.inicio{
    text-align: center;
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
    color: #ffffff;
    line-height: 200px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text{
    text-align: center;
}
  .button1{
    margin: 50px 50px; 
    padding: 25px 25px 25px 25px;
    padding-top: 10px;
    width: 130px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    border:0px solid ;
    font-weight: bold;
    color:#D079FC ;
    border-radius: 10%;
    background: rgba(208, 121, 252 );
} 

.button2{
    margin: 50px 50px; 
    padding: 25px 25px 25px 25px;
    padding-top: 10px;
    width: 130px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    border:0px solid ;
    font-weight: bold;
    color:#D079FC ;
    border-radius: 10%;
    background: rgba(208, 121, 252 );
} 

.imggg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img{
    width: 400px;
    height: 400px;
    display: flex;
    padding: 8px 1px 10px 10px;
    border-radius: 50%;
    
}

body{
  background-color: #ECECEC;
}


a{
    text-decoration: none;
}

.HAHAHA0{
  text-align: center;
  width: 740px;
  height: 480px;
  padding: 50px;
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: whitesmoke; 
  border-radius: 50px;
  border-style: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

video{
  position: fixed;

  min-width: 100%;
  min-height: 100%;

  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  z-index: -1;
} 

/* login_al.pug y algunas de login_mt.pug */

.inicio_al, .inicio_mt{
    text-align:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    font-size: 30px;
    color:#E67A86 ;
    margin: 50px 0 20px 50px;
}

.titulo_login_al, .titulo_login_mt{
    color: #D079FC;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    float: right;
    margin-right: 350px;
}

div.corr_num {
  color: #AEB8F2;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
} 
 /* Fondo blanquito */
.HAHAHA{
    text-align: center;
    width: 540px;
    height: 340px;
    float: right;
    margin-right: 200px;
    padding: 70px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: whitesmoke; 
    border-radius: 50px;
    border-style: hidden;
}

        /* Bonones */

  div.in-sesi:focus,input,input[type=submit]:focus{
    color: #7195b8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 15px;
    font-size: 18px;
    box-shadow:01px 20px rgb(85, 132, 179)inset,;
    outline: 0 none;

} 

  div.crear-c{
        text-align: center;
        width: 170px;
        height: 60px;
        box-sizing:content-box;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
        border: 5px solid #333;
        background-color: #F2D474; 
        border-radius: 50px;
        border-style: hidden;
        display: inline-block;
        color: azure;
        margin-right: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  

  div.volver-i{
    text-align: center;
    width: 170px;
    height: 60px;
    box-sizing:content-box;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: #F2D474; 
    border-radius: 50px;
    border-style: hidden;
    display: inline-block;
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
/* Tambien esta en login.mt.pug */
  .img-login-al{
    width: 450px;
    height: 450px; 
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    clip-path: circle();
  }

 /* login.mt.pug */
  div.contraseña{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
}  

 /* signup_mt.pub */

.img-signup{
    width: 450px;
    height: 450px; 
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    clip-path: circle();
  }
  
  h1.crea-cuen{
    text-align:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    font-size: 30px;
    color:#E67A86 ;
    margin: 50px 0 20px 50px;
  }

  h3.titu-signup{
    color: #D079FC;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    float: right;
    margin-right: 350px;
  }

  div.nombre-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.apelli-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.corr-num-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.contraseña-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.contraseña-confir-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.fecha-naci-signup{
    color: #AEB8F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
  }
  div.volver-i-signup{
    text-align: center;
    width: 150px;
    height: 60px;
    box-sizing:content-box;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: #F2D474; 
    border-radius: 50px;
    border-style: hidden;
    display: inline-block;
    color: azure;
  }

  div.tengo-cuent{
    text-align: center;
    width: 150px;
    height: 60px;
    box-sizing:content-box;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: #F2D474; 
    border-radius: 50px;
    border-style: hidden;
    display: inline-block;
    color: azure;
    margin-right: 20px;
  }

  .HAHAHA2{
    text-align: center;
    width: 540px;
    height: 570px;
    float: right;
    margin-right: 200px;
    margin-bottom: 50px;
    padding: 70px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: whitesmoke; 
    border-radius: 50px;
    border-style: hidden;
}
/* signup_al.pug */
.HAHAHA3{
    text-align: center;
    width: 540px;
    height: 460px;
    float: right;
    margin-right: 200px;
    margin-bottom: 50px;
    padding: 70px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-color: whitesmoke; 
    border-radius: 50px;
    border-style: hidden;
}

.img-ne-user{
  width: 400px;
  height: 400px;
  border-radius: 20%;
}

/* id_registered */
.corrnum-titu{
  font-size: 40px;
  color: #D079FC;
  padding-left: 300px;
  padding-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inten-nue{
  font-size: 25px;
  color: #7195b8;
  padding-left: 380px;
  padding-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.volver-ini{
  text-align: center;
  width: 150px;
  height: 60px;
  box-sizing:content-box;
  margin-left: 610px;
  margin-top: 10px;
  padding: 20px;
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: #F2D474; 
  border-radius: 50px;
  border-style: hidden;
  display: inline-block;
  color:#6d4e3a;
}


/* index_al */
header{
  background-color: #F2D474;
  width: 100%;
  height: 55px;
	padding: 5px;
	text-decoration: none;
	font-size: 15px;
}

.button_S{
    margin-right: 323px;
    background-color: #F2D474;
    border: none;
}
.Crear_Clase{
    margin-right: 323px;
}
.button_M_U{
    margin-right: 0px;
    background-color: #F2D474;
    border: none;
}
.button_Mi{
    margin-right: 322px;
    background-color: #F2D474;
    border: none;
}
.button_info{
  background-color: #F2D474;
    border: none;
}
.block{
    width: 240px;
    height: 340px;
    margin-left: 1125px;
    margin-right: 0;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #333;
    background-image: linear-gradient(to right,#FCAE79,#E67A86); 

}

.hola-bienve{
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
  color:#E67A86;
}
.HAHAHA4{
  text-align: center;
  width: 540px;
  height: 220px;
  float: right;
  margin-top:20px;
  margin-right: 400px;
  margin-bottom: 30px;
  padding: 50px;
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: whitesmoke; 
  border-radius: 50px;
  border-style: hidden;
}

.unir-clas{
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 15px;
  color:#D079FC;
}

.cod-clas{
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #7195b8;
}

/* wrong_pass */
.imginco{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-inco{
  width: 400px;
  height: 400px;
}

.ups{
  font-size: 38px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #D079FC;
  text-align: center;
} 

.contra-inco{
  font-size: 33px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #7195b8;
  text-align: center;
  margin-top: 5px;
}

.Ojo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.intenta-de-nu{
  align-items: center;
  text-align: center;
  width: 160px;
  height: 60px;
  box-sizing:content-box;
  margin-top: 20px;
  margin-right: 10px;
  padding: 18px; 
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: #F2D474; 
  border-radius: 50px;
  border-style: hidden;
  display: inline-block;
  color:#6d4e3a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.volver-ini-wrong-pass{
  text-align: center;
  width: 160px;
  height: 60px;
  box-sizing:content-box;
  margin-top: 20px;
  margin-left: 10px;
  padding: 18px; 
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: #F2D474; 
  border-radius: 50px;
  border-style: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* index_mt */
svg{
  display: inline-block;
  color:#6d4e3a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.HAHAHA5{
  text-align: center;
  width: 540px;
  height: 220px;
  float: right;
  margin-top:20px;
  margin-right: 400px;
  margin-bottom: 30px;
  padding: 50px;
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: whitesmoke; 
  border-radius: 50px;
  border-style: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.HAHAHA6{
  text-align: center;
  width: 180px;
  height: 70px;
  float: right;
  margin-top:5px;
  margin-right: 570px;
  margin-bottom: 30px;
  padding: 10px;
  box-sizing: border-box;
  border: 5px solid #333;
  background-color:#ffa0f2; 
  border-radius: 50px;
  border-style: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: #6d4e3a;
}

.unirme-clas{
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #D079FC;
  margin-bottom: 15px;
}

.HAHAHA7{
  text-align: center;
  width: 300px;
  height: 220px;
  /* float: left; */
  margin: 2rem auto;
  /* box-sizing: border-box; */
  /* border: 5px solid #333; */
  background: whitesmoke; 
  border-radius: 50px;
  border-style: hidden;
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.HAHAHA7 h2{
  font-size: 1.5rem;
  margin: 0;
  padding: 0 1rem;
  display: table-cell;
  position: absolute;
  top: 20%;
  left: 15%;
  -o-transform:translateY(-20%) ;
  -webkit-transform:translateY(-20%);
  -moz-transform:translateY(-20%) ;
  -ms-transform:translateY(-20%) ;
  transform:translateY(-20%) ;
  vertical-align: top;
}

.HAHAHA7 .codi-clas-chido{
  margin: 0;
  padding: 0 1rem;
  display: table-cell;
  position: absolute;
  top: 50%;
  left: 15%;
  -o-transform:translateY(-50%) ;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%) ;
  -ms-transform:translateY(-50%) ;
  transform:translateY(-50%) ;
  vertical-align: middle;
  text-align: right;
}

.HAHAHA7 .grado-unu{
  margin: 0;
  padding: 0 1rem;
  display: table-cell;
  position: absolute;
  top: 64%;
  left: 15%;
  -o-transform:translateY(-70%) ;
  -webkit-transform:translateY(-70%);
  -moz-transform:translateY(-70%) ;
  -ms-transform:translateY(-70%) ;
  transform:translateY(-70%) ;
  vertical-align: middle;
}



.HAHAHA7 .escuela-xd{
  margin: 0;
  padding: 0 1rem;
  display: table-cell;
  position: absolute;
  top: 77%;
  left: 15%;
  -o-transform:translateY(-90%) ;
  -webkit-transform:translateY(-90%);
  -moz-transform:translateY(-90%) ;
  -ms-transform:translateY(-90%) ;
  transform:translateY(-90%) ;
  vertical-align: middle;
}

/* nueva_clase */

/* .nuev-clas{
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #D079FC;
  margin-left: 30px;
  padding-top: 20px;
} */

.requisi-nu-cla{
  text-align: center;
  width: 540px;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-sizing: border-box;
  border: 5px solid #333;
  background-color: whitesmoke; 
  border-radius: 50px;
  border-style: hidden;
}