extend ../layout.pug
block contenido
    h1 Hola #{name}, Bienvenido
    div 
        a(href="/app/clase") Mi clase  
    div
        a(href="/app/myuser") Mi Usuario
    div 
        a(href="/app/crear_clase") Crear clase 
    div
        a(href="/logout") Cerrar sesion 