extend ../layout.pug  
block contenido 
  h1 Nueva Clase 
  div 
    form(action="/app/nueva_clase", method="POST")
      div  
        label(for="classname") Nombre de la Clase:
        input(type="text", name="classname", placeholder="Nombre de la clase", id="classname", required)
      div
        label(for="description") Descripción de la clase(Opcional):
        input(type="text", name="description", placeholder="Descripción de la clase" id="description")
      div 
        label(for="grade") Grado: 
        input(type="number", name="grade", placeholder="Grado", id="grade", required)
      div 
        label(for="group") Grupo: 
        input(type="text", name="group", placeholder="Grupo", id="group", required)
      div 
        label(for="turn") Turno:
        input(type="text", name="turn", placeholder="Turno", id="turn", required) 
      div 
        label(for="school") Escuela: 
        input(type="text", name="school", placeholder="Nombre de la Escuela" id="school", required)     
      div 
        input(type="submit", value="Crear Clase")
      div 
        a(href="/app") Cancelar

    